.titlebox {
	background-color: rgb(155, 155, 155);
	height:100px;
	width:100%;
	border: 1px #111 solid;
}
.titlebox p {
	font-size: 30px;
	font-family: Geneva, Tahoma, Verdana;
  text-align: center;
}
.center {
	text-align: center;
}
img.center {
    display: block;
    margin: 0 auto;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;

}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}
